* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    max-height: 20%;
    min-height: 20%;
    max-width: 10%;
    float: left;
    padding: 0 40px;
    align-items: center;
}

header {
    width: 100%;
    background-color: #2d0303;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    width: 80%;
    max-width: 992pX;
    margin: 10px auto;
    padding: 0 40px;
    line-height: 90px;
}

.products ul{
    overflow: hidden;
    list-style: none;
    display: flex;
    margin: 20px auto;
    float: right;
}

.products ul li {
    float: left;
    font-size: 20px;
    margin: 0 10px;
    line-height: 100%;
    width: max-content;
}

.products ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.products ul li a:hover {
    background-color: rgba(69, 11, 11, 0.437);
}

.navinput , .menubar {
    display: none;
}

@media screen and (max-width:768px) {
    body {
        padding-top: 70px;
    }

    header {
        height: 60px;
    }

    .menubar{
        display: block;
        cursor: pointer;
        float: right;
    }

    .products ul {
        top: 80px;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        background:#2d0303;
    }

    .jumbotron{
        top: 80px;
        position: fixed;
        width: 100%;
        left: 0;
        justify-content: space-evenly;
        align-items: center;
    }
    .navinput:checked + .products ul{
        clip-path: circle(100% at center);
    }
}
.jumbotron{
    padding: 30px;
    width: 100%;
    margin:auto;
    margin-top: 70px;
    float: left;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
}
.fondo img{
    max-height: 40%;
    min-height: 40%;
    max-width: 40%;
    float:right;
    padding: 20px;
    margin: auto;
    background-color: black;
}